
.rbc-toolbar{
    background-color: #303960;
    color: white;
    font-weight: bold;
    height: 20% ;
    Font-family: monospace ; 
}
.rbc-btn-group button {
    font-weight: bold;
    background-color: #bbe1fa !important;
    font-size: 59%;
    
}
.rbc-month-header{
color: #035aa6;
}
