@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 body {
     margin: 0;
    height: 100%;
    background-color: #dddddd !important; 
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#container {
    flex:1;
    justify-content: center  !important;
    align-items: center;

}

.my-header2{
    margin-left:60% !important;
    color:#27496d;
     font-size: 25px;
    font-family: 'Anton', sans-serif  !important;
    border-bottom: 3px solid black !important;
padding-bottom: 4px  !important;
padding-top: 4px  !important;
}
#nav{
    background-color: #333333;
    display: block;
    min-height: 30px;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 15px 30px;
    padding-top: 15px;
   border-bottom: 1px solid white;

}
.text{
    color: white;
    margin-left: 11%;
    margin-top: 8px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    
}
#nav img {
    float: left;
    width:50px;
   height: 40px;
}
.my-form{
    
    padding: 30px 25px 15px 25px;
    background-color: #ffffff;
    min-width: 260px;
    height: 270px;
    border-radius: 30px;
    position: absolute;
    top: 60%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
 
.icon{
    padding: 5px; 
   
    min-width: 30px; 
    float: left;

}
body::after {
    content: '';
    display: block;
    height: 20px; /* Set same as footer's height */
  }
  
footer{
    background-color: #333333;
    height: 20px;
    font-size: 0.8rem;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
  
}
.my-btn {
    margin-top: 17%;
     height: 55px;
    width: 95%;
    vertical-align: middle;
    text-align: center;
}
.textx{
color: black;
 font-family: monospace; 
 font-size: 15px; 
 text-align: center;}
#inside{
    overflow: hidden;
}