@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 body {
     margin: 0;
    height: 100%;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#container {
    flex:1;
    justify-content: center  !important;
    align-items: center;

}

.my-header2{
    margin-left:60% !important;
    color:#3f3f44;
     font-size: 25px;
    font-family: 'Anton', sans-serif  !important;
    border-bottom: 3px solid black !important;
padding-bottom: 4px  !important;
padding-top: 4px  !important;
}
#nav{
    background-color: #333333;
    display: block;
    min-height: 30px;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 15px 30px;
    padding-top: 15px;
   border-bottom: 1px solid white;

}
.GoogleLog{
margin-top: 50%;

}
.text{
    color: white;
    margin-left: 11%;
    margin-top: 8px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    
}
#nav img {
    float: left;
    margin-left:-7%;
    width:53px;
   height: 45px;
}
.my-form{
    
    padding: 15px 10px 10px 10px;
    background-color: #ffffff;
    min-width: 95%;
    min-height: 90px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 200px;
    left: 48%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
 
.icon{
    padding: 5px; 
   
    min-width: 30px; 
    float: left;

}
body::after {
    content: '';
    display: block;
    height: 20px; /* Set same as footer's height */
  }
  
footer{
    background-color: #333333;
    height: 20px;
    font-size: 0.8rem;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
  
}

.my-btn {
   
     height: 55px;
    width: 80%;
    vertical-align: middle;
    text-align: center;
}
.textx{
color: black;
 font-family: monospace; 
 font-size: 15px; 
 text-align: center;}
#inside{
    overflow: hidden;
}